
.logo img{
    height: 50px;
}
.logo p{
    font-size: 60px;
    font-family: 'Inter', sans-serif;
}

.carroseul-item-img img{
    width: 250px;
   
}
.texto01 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: right;
    float: right;
}

.texto01 h2{
    font-family: 'IM Fell DW Pica', serif;
} 
.texto01 p{
    font-family: 'Inter', sans-serif;
} 






p{
    font-family: 'IM Fell DW Pica', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Sarabun', sans-serif;
}
