.logo img {
  height: 50px;
}
.logo p {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  position: absolute;
  width: 500px;
  height: 71px;
  left: 105.06px;
  top: 14px;
}

.carroseul-item-img img {
  width: 250px;
}

.texto01 {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  float: right;
}

.texto01 h2 {
    font-family: 'IM Fell DW Pica', serif;
}

.texto01 p {
    font-family: 'Inter', sans-serif;
}

.carroseul01{
overflow: hidden;
height: 500px;
width: 500px;
}

.carroseul-item-img {
    width: 250px;
    margin: 0 auto;
    width: 250px;
}

.carroseul-item {
    display: flex;
    transition:  transform 0.5 ease-in-out;
    transform:  translateX(0);
}
.carroseul-item img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

p {
    font-family: 'IM Fell DW Pica', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Sarabun', sans-serif;
}

/*carousel*/
.carousel {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.carousel-container {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: fit-content;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
