html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FEF5EC;
}
.body {
  display: flex;
  flex-direction: column;
}
.container_menu {
  position: relative;
  width: 100%;
  height: 111px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  position: relative;
  margin: 20px 20px;
  width: 70px;
  height: auto;
  left: 0px;
  top: 0px;
  border-radius: 28px;
  filter: saturate(70%) sepia(100%);
}
/* nome do site */
#titulo {
  position: absolute;
  width: 381px;
  height: 10px;
  margin: 50px 10px;
  left: 105px;
  top: 14px;
  font-family: "IM Fell DW Pica", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*NAVBAR 01*/
.navbar01 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 566px;
  height: 44px;
  left: 32%;
  top: 60px;
  text-decoration: none;
  align-items: center;
}
.navbar01 ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar01 li {
  font-size: 14px;
  margin-right: 10px;
}

.navbar01 ul a {
  text-decoration: none;
  color: black;
}

.navbar01 li:hover a {
  color: rgb(235, 211, 211);
}

/*NAVBAR02*/

.navbar02 {
  position: absolute;
  width: 166px;
  height: 48px;
  top: 20px;
  right: 0px;
  display: block;
  justify-content: flex-end;
}
.navbar02 ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.navbar02 li {
  margin-left: 0px;
}
.navbar02 li a {
  text-decoration: none;
  color: inherit;
}

.barra-horizontal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92.6%;
  height: 1.85px;
  background-color: #000;
}

/*TITULO DA SEÇÂO*/

.tituloSecao {
  margin-left: 75px;
  position: relative;
}
.tituloSecao h1 {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 34px;
}

/*Parallax01*/

.Parallax01 {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.Parallax01 .joias05-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Parallax01 .joias05-img img {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*PRODUTOS A VENDA*/

.maisVendidos {
  margin-top: 100px;
  width: 1200px;
  margin-left: 20%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Define 4 colunas com largura igual */
  grid-gap: 20px; /* Define o espaçamento entre os itens */
}
.produto {
  height: 100%;
  margin: 10px 10px 10px 10px;
}
.produto img {
  height: auto;
  width: 100%;
  position: relative;
  border: #817b7b;
  border-style: groove;
  border-radius: 25%;
  
}
.produto ul {
  padding: 0;
}
.produto ul li {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 2px;
}
.produto ul li a {
  position: relative;
  text-decoration: none;
  align-items: center;
  color: #000000;
}
#preco {
  font-weight: 700;
  font-size: x-large;
}

/*BUTTON*/

.produto button {
  height: auto;
  position: relative;
  width: 161px;
  height: 30px;
  margin-top: 1vh;
  left: 0;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flexbox;
  justify-content: center;
  border: none;
  background-color: #555555;
  color: aliceblue;
}
.produto button:link,
.produto button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}
.produto button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.produto button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.produto .comprar {
  background-color: #555555;
  color: #fff;
}
.produto button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.produto .comprar::after {
  background-color: #555555;
}
.produto button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.produto button-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*CADASTRO*/

.conteinerCadastro {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.cadastro {
  text-align: center;
  font-size: large;
}

.cadastro h1 {
  font-size: 34px;

  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email,
.name,
.senha {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.email i,
.name i,
.senha i {
  margin-right: 10px;
}
.email input,
.name input,
.senha input {
  padding: 5px 10px;
  border-radius: 20px;
}
.send button {
  height: auto;
  position: relative;
  width: 161px;
  height: 30px;
  margin-top: 1vh;
  left: 0;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flexbox;
  justify-content: center;
  border: none;
  background-color: #555555;
  color: aliceblue;
}
.send button:link,
.send button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}
.send button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.send button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.send .comprar {
  background-color: #555555;
  color: #fff;
}
.send button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.send .comprar::after {
  background-color: #555555;
}
.send button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.send button-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*FOOTER*/

.footer {
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;

  background: #dfd0ae;
}
#footer {
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #dfd0ae;
}
.contatosSac {
  display: flex;
  position: relative;
  padding: 7px 14px 7px 7px;
  flex-direction: column;
  align-items: end;
  align-self: first baseline;
  text-align: start;
}
.contatoEmail a,
i {
  color: #000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 7px;
}
.contatoPhone a,
i {
  color: #000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 7px;
}
.instagram a,
i {
  color: #000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 7px;
}

/*PAGINA INCIAL*/

/*CARROSUEL*/
.top-section,
.bottom-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carousel {
  width: 100%;
  position: relative;
  flex-basis: 50%;
}
.text {
  margin-right: 75px;
  margin-left: 75px;
  position: relative;
  width: 100%;
  flex-basis: 50%;
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

.carousel-slide {
  position: relative;
  width: 50%;
  height: 350px;
  margin-top: 7px;
}
.carousel-slide > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}
img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8s;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}

/*AMOSTRA*/
.amostras {
  position: relative;
  left: 75px;
  width: 90%;
}

p,
a {
  font-family: "IM Fell DW Pica", serif;
  font-family: "Inter", sans-serif;
  font-family: "Sarabun", sans-serif;
}
